@use '@/assets/styles/colors.scss' as colors;

.circle{
    width: 100%;
    height: 100%;
    border-radius: 100%;
}

.blackbox{
    background-color: rgba(0, 0, 0, 0.2);
}

.separator{
    width: 20px;
    background-color: colors.$brightColor;
}