@use '@/assets/styles/variables.scss' as variables;
/*
Donne des classes génériques, réutilisables, valable au sein de ce projet
*/

.circle{
    width: 100%;
    height: 100%;
    border-radius: 100%;
}

.blackbox{
    background-color: rgba(0, 0, 0, 0.2);
}

//Background variables
.backgroundSecondaryColor{
    background-color: variables.$secondary;
}
.backgroundBrightColor{
    background-color: variables.$brightColor;
}
.backgroundDarkColor{
    background-color: variables.$darkColor;
}

//Text shadows
.textShadowDarkColor{
    text-shadow: -2.5px 2.5px 0px variables.$darkColor;
}
.textShadowBrightColor{
    text-shadow: -2.5px 2.5px 0px variables.$brightColor;
}
.textShadowSecondaryColor{
    text-shadow: -2.5px 2.5px 0px variables.$secondary;
}
.textShadowPrimaryColor{
    text-shadow: -2.5px 2.5px 0px variables.$primary;
}

//Text color
.textDarkColor{
    color: variables.$darkColor;
}
.textBrightColor{
    color: variables.$brightColor;
}
.textSecondaryColor{
    color: variables.$secondary;
}

//box shadows
.boxShadowDarkColor{
    box-shadow: -2.5px 2.5px 0px variables.$darkColor;
}
.boxShadowBrightColor{
    box-shadow: -2.5px 2.5px 0px variables.$brightColor;
}
.boxShadowSecondaryColor{
    box-shadow: -2.5px 2.5px 0px variables.$secondary;
}
.boxShadowPrimaryColor{
    box-shadow: -2.5px 2.5px 0px variables.$primary;
}
.biggerShadow{
    box-shadow: -5px 5px;
}

//background color
.backgroundDarkColor{
    background-color: variables.$darkColor;
}
.backgroundBrightColor{
    background-color: variables.$brightColor;
}
.backgroundSecondaryColor{
    background-color: variables.$secondary;
}
.backgroundPrimaryColor{
    background-color: variables.$primary;
}

//Selection
.pointer{
    cursor: pointer;
}