@use '@/assets/styles/colors.scss' as colors;

.circle{
    width: 100%;
    height: 100%;
    border-radius: 100%;
}

.blackbox{
    background-color: rgba(0, 0, 0, 0.2);
}

//Background colors
.backgroundSecondaryColor{
    background-color: colors.$secondary;
}
.backgroundBrightColor{
    background-color: colors.$brightColor;
}
.backgroundDarkColor{
    background-color: colors.$darkColor;
}

//Text shadows
.textShadowDarkColor{
    text-shadow: -2.5px 2.5px 0px colors.$darkColor;
}
.textShadowBrightColor{
    text-shadow: -2.5px 2.5px 0px colors.$brightColor;
}
.textShadowBrightColor{
    text-shadow: -2.5px 2.5px 0px colors.$secondary;
}

//Text shadows
.textDarkColor{
    color: colors.$darkColor;
}
.textBrightColor{
    color: colors.$brightColor;
}
.textSecondaryColor{
    color: colors.$secondary;
}

//box shadows
.boxShadowDarkColor{
    box-shadow: -2.5px 2.5px 0px colors.$darkColor;
}
.boxShadowBrightColor{
    box-shadow: -2.5px 2.5px 0px colors.$brightColor;
}
.boxShadowSecondaryColor{
    box-shadow: -2.5px 2.5px 0px colors.$secondary;
}

//Selection
.pointer{
    cursor: pointer;
}