/*
Ces variables permettent de donner une cohérence
Et sont utilisables dans l'entièreté du projet
*/

$primarySh1: #550702;
$primarySh2: #7e0b03;
$primarySh3: #a70f04;
$primary: #D61405;

$secondary: #ED9507;
$darkColor: #051C3B;
//$darkColor: #000;
$brightColor: white;
$backgroundColor: #fffafa;

$xs: 400px; //0<x<540px
$sm: 800px; //540px<x<800px
$md: 1100px;//